openapi: 3.0.1
info:
  title: CircuitoGestaoApi
  description: API da Circuito Gestão SIGAE OPEN SOURCE
  version: v1
servers:
  - url: https://api.sigae.org.br/Formularios
    description: Servidor principal
tags:
  - name: openapi_CircuitosGestaoApi-AvaliacaoResultadoConfiguracaoInternal
    x-displayName: CircuitosGestaoApi-AvaliacaoResultadoConfiguracaoInternal
  - name: openapi_CircuitosGestaoApi-Categoria
    x-displayName: CircuitosGestaoApi-Categoria
  - name: openapi_CircuitosGestaoApi-CircuitoGestao
    x-displayName: CircuitosGestaoApi-CircuitoGestao
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoEtapaInternal
    x-displayName: CircuitosGestaoApi-CircuitoGestaoEtapaInternal
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
    x-displayName: CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
    x-displayName: CircuitosGestaoApi-CircuitoGestaoInstituicao
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
    x-displayName: CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoInternal
    x-displayName: CircuitosGestaoApi-CircuitoGestaoInternal
  - name: openapi_CircuitosGestaoApi-CircuitoGestaoObjetivoInternal
    x-displayName: CircuitosGestaoApi-CircuitoGestaoObjetivoInternal
  - name: openapi_CircuitosGestaoApi-EtapaEnsino
    x-displayName: CircuitosGestaoApi-EtapaEnsino
  - name: openapi_CircuitosGestaoApi-EtapaEnsinoInternal
    x-displayName: CircuitosGestaoApi-EtapaEnsinoInternal
  - name: openapi_CircuitosGestaoApi-EtapaReuniao
    x-displayName: CircuitosGestaoApi-EtapaReuniao
  - name: openapi_CircuitosGestaoApi-Grupo
    x-displayName: CircuitosGestaoApi-Grupo
  - name: openapi_CircuitosGestaoApi-GrupoInternal
    x-displayName: CircuitosGestaoApi-GrupoInternal
  - name: openapi_CircuitosGestaoApi-Indicador
    x-displayName: CircuitosGestaoApi-Indicador
  - name: openapi_CircuitosGestaoApi-IndicadorInternal
    x-displayName: CircuitosGestaoApi-IndicadorInternal
  - name: openapi_CircuitosGestaoApi-ModalidadeEnsino
    x-displayName: CircuitosGestaoApi-ModalidadeEnsino
  - name: openapi_CircuitosGestaoApi-ModalidadeEnsinoInternal
    x-displayName: CircuitosGestaoApi-ModalidadeEnsinoInternal
  - name: openapi_CircuitosGestaoApi-Modulo
    x-displayName: CircuitosGestaoApi-Modulo
  - name: openapi_CircuitosGestaoApi-Objetivo
    x-displayName: CircuitosGestaoApi-Objetivo
  - name: openapi_CircuitosGestaoApi-OfertaEnsinoInternal
    x-displayName: CircuitosGestaoApi-OfertaEnsinoInternal
  - name: openapi_CircuitosGestaoApi-PublicoAlvo
    x-displayName: CircuitosGestaoApi-PublicoAlvo
  - name: openapi_Indicadores-SituacaoEficacia
    x-displayName: Indicadores-SituacaoEficacia
  - name: openapi_IndicadoresApi-IndicadoresExecucaoPlano
    x-displayName: IndicadoresApi-IndicadoresExecucaoPlano
  - name: openapi_IndicadoresApi-IndicadoresResultado
    x-displayName: IndicadoresApi-IndicadoresResultado
  - name: openapi_IndicadoresApi-IndicadorFiltro
    x-displayName: IndicadoresApi-IndicadorFiltro
  - name: openapi_IndicadoresApi-IndicadorMetaResultado
    x-displayName: IndicadoresApi-IndicadorMetaResultado
  - name: openapi_IndicadoresApi-ProcessamentoIndicadoresExecucao
    x-displayName: IndicadoresApi-ProcessamentoIndicadoresExecucao
  - name: openapi_IndicadoresApi-ProcessamentoIndicadorResultado
    x-displayName: IndicadoresApi-ProcessamentoIndicadorResultado
  - name: openapi_InstituicaoApi-EstadoInternal
    x-displayName: InstituicaoApi-EstadoInternal
  - name: openapi_InstituicoesApi-Cidade
    x-displayName: InstituicoesApi-Cidade
  - name: openapi_InstituicoesApi-CidadeInternal
    x-displayName: InstituicoesApi-CidadeInternal
  - name: openapi_InstituicoesApi-Escola
    x-displayName: InstituicoesApi-Escola
  - name: openapi_InstituicoesApi-Estado
    x-displayName: InstituicoesApi-Estado
  - name: openapi_InstituicoesApi-InstituicaoInternal
    x-displayName: InstituicoesApi-InstituicaoInternal
  - name: openapi_InstituicoesApi-Regional
    x-displayName: InstituicoesApi-Regional
  - name: openapi_InstituicoesApi-Secretaria
    x-displayName: InstituicoesApi-Secretaria
  - name: openapi_InstituicoesApi-SecretariaInternal
    x-displayName: InstituicoesApi-SecretariaInternal
  - name: openapi_InstituicoesApi-SupervisorInternal
    x-displayName: InstituicoesApi-SupervisorInternal
  - name: openapi_InstituicoesApi-TipoContato
    x-displayName: InstituicoesApi-TipoContato
  - name: openapi_PessoasApi-Cargo
    x-displayName: PessoasApi-Cargo
  - name: openapi_PessoasApi-Pessoa
    x-displayName: PessoasApi-Pessoa
  - name: openapi_PessoasApi-PessoaCargoInternal
    x-displayName: PessoasApi-PessoaCargoInternal
  - name: openapi_PessoasApi-Supervisor
    x-displayName: PessoasApi-Supervisor
  - name: openapi_PessoasApi-TipoContato
    x-displayName: PessoasApi-TipoContato
  - name: openapi_UtilidadesApi-Authorization
    x-displayName: UtilidadesApi-Authorization
  - name: openapi_UtilidadesApi-AuthorizationInternal
    x-displayName: UtilidadesApi-AuthorizationInternal
  - name: openapi_UtilidadesApi-Biblioteca
    x-displayName: UtilidadesApi-Biblioteca
  - name: openapi_UtilidadesApi-ConteudoExterno
    x-displayName: UtilidadesApi-ConteudoExterno
  - name: openapi_UtilidadesApi-Menu
    x-displayName: UtilidadesApi-Menu
  - name: openapi_UtilidadesApi-Perfil
    x-displayName: UtilidadesApi-Perfil
  - name: openapi_UtilidadesApi-PerfilInternal
    x-displayName: UtilidadesApi-PerfilInternal
  - name: openapi_UtilidadesApi-Permissao
    x-displayName: UtilidadesApi-Permissao
  - name: openapi_UtilidadesApi-Tag
    x-displayName: UtilidadesApi-Tag
  - name: openapi_UtilidadesApi-Termo
    x-displayName: UtilidadesApi-Termo
  - name: openapi_UtilidadesApi-Upload
    x-displayName: UtilidadesApi-Upload
  - name: openapi_UtilidadesApi-UploadInternal
    x-displayName: UtilidadesApi-UploadInternal
  - name: openapi_Reunioes-Reagendamento
    x-displayName: Reunioes-Reagendamento
  - name: openapi_ReunioesApi-Reuniao
    x-displayName: ReunioesApi-Reuniao
  - name: openapi_ReunioesApi-ReuniaoInternal
    x-displayName: ReunioesApi-ReuniaoInternal
  - name: openapi_FormulariosApi-Formulario
    x-displayName: FormulariosApi-Formulario
  - name: openapi_FormulariosApi-FormularioInternal
    x-displayName: FormulariosApi-FormularioInternal
  - name: openapi_FormulariosApi-FormularioResposta
    x-displayName: FormulariosApi-FormularioResposta
  - name: openapi_FormulariosApi-FormularioRespostaInternal
    x-displayName: FormulariosApi-FormularioRespostaInternal
  - name: openapi_PlanoAcaoApi-CircuitoGestaoModeloPlano
    x-displayName: PlanoAcaoApi-CircuitoGestaoModeloPlano
  - name: openapi_PlanoAcaoApi-CircuitoGestaoModeloPlanoInternal
    x-displayName: PlanoAcaoApi-CircuitoGestaoModeloPlanoInternal
  - name: openapi_PlanoAcaoApi-Classificador
    x-displayName: PlanoAcaoApi-Classificador
  - name: openapi_PlanoAcaoApi-Melhoria
    x-displayName: PlanoAcaoApi-Melhoria
  - name: openapi_PlanoAcaoApi-ModeloPlano
    x-displayName: PlanoAcaoApi-ModeloPlano
  - name: openapi_PlanoAcaoApi-Plano
    x-displayName: PlanoAcaoApi-Plano
  - name: openapi_PlanoAcaoApi-PlanoAvaliacaoResultadoStatusInternal
    x-displayName: PlanoAcaoApi-PlanoAvaliacaoResultadoStatusInternal
  - name: openapi_PlanoAcaoApi-PlanoDirecionado
    x-displayName: PlanoAcaoApi-PlanoDirecionado
  - name: openapi_PlanoAcaoApi-PlanoEvolucao
    x-displayName: PlanoAcaoApi-PlanoEvolucao
  - name: openapi_PlanoAcaoApi-PlanoOriginal
    x-displayName: PlanoAcaoApi-PlanoOriginal
  - name: openapi_PlanoAcaoApi-PlanoSimplificado
    x-displayName: PlanoAcaoApi-PlanoSimplificado
  - name: openapi_PlanoAcaoApi-Problema
    x-displayName: PlanoAcaoApi-Problema
paths:
  /CircuitosGestao/api/AvaliacaoResultadoConfiguracaoInternal/DataCorte/{dataCorte}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-AvaliacaoResultadoConfiguracaoInternal
      summary: >-
        Lista todas as configurações de avaliação de resultado ainda não
        processadas
      parameters:
        - name: dataCorte
          in: path
          description: Data de corte da avaliação de resultado
          required: true
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Lista de configurações de avaliação de resultado
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_AvaliacaoResultadoConfiguracaoViewModelIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_AvaliacaoResultadoConfiguracaoViewModelIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_AvaliacaoResultadoConfiguracaoViewModelIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/AvaliacaoResultadoConfiguracaoInternal/ConcluirProcessamento/{guid}:
    put:
      tags:
        - openapi_CircuitosGestaoApi-AvaliacaoResultadoConfiguracaoInternal
      summary: Define a data de processamento da avaliação de resultado.
      parameters:
        - name: guid
          in: path
          description: Guid da avaliação de resultado
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_ConcluirAvaliacaoResultadoDTO
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_ConcluirAvaliacaoResultadoDTO
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_ConcluirAvaliacaoResultadoDTO
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_ConcluirAvaliacaoResultadoDTO
      responses:
        '200':
          description: Guid da avaliação de resultado processada
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/Categoria:
    post:
      tags:
        - openapi_CircuitosGestaoApi-Categoria
      summary: Criar categoria
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCategoriaDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCategoriaDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCategoriaDTO'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCategoriaDTO'
      responses:
        '200':
          description: Guid da Categoria
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-Categoria
      summary: Filtar categorias
      parameters:
        - name: Nome
          in: query
          schema:
            type: string
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Lista paginada das categorias
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/Categoria/{guid}:
    put:
      tags:
        - openapi_CircuitosGestaoApi-Categoria
      summary: Editar categoria por Guid
      parameters:
        - name: guid
          in: path
          description: Guid da Categoria
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCategoriaDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCategoriaDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCategoriaDTO'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCategoriaDTO'
      responses:
        '200':
          description: Guid da Categoria
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    delete:
      tags:
        - openapi_CircuitosGestaoApi-Categoria
      summary: Deletar categoria por Guid
      parameters:
        - name: guid
          in: path
          description: Guid da Categoria
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Guid da Categoria
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-Categoria
      summary: Buscar categoria por Guid
      parameters:
        - name: guid
          in: path
          description: Guid da Categoria
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Objeto categoria com detalhes
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CategoriaCompletaViewModelApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestao:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestao
      summary: Filtrar os circuitos de gestão de forma paginada
      parameters:
        - name: Guid
          in: query
          schema:
            type: string
            format: uuid
        - name: ModuloGuid
          in: query
          schema:
            type: string
            format: uuid
        - name: Nome
          in: query
          schema:
            type: string
        - name: DataInicio
          in: query
          schema:
            type: string
            format: date-time
        - name: DataFim
          in: query
          schema:
            type: string
            format: date-time
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Lista paginada de Circuitos de gestão
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    post:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestao
      summary: Cria um circuito de gestão
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCircuitoGestaoDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCircuitoGestaoDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCircuitoGestaoDTO'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarCircuitoGestaoDTO'
      responses:
        '200':
          description: Circuito de gestão criado com sucesso
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestao/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestao
      summary: Busca um circuito de gestão completo
      parameters:
        - name: guid
          in: path
          description: Guid do circuito de gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuito de gestão
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoCompletoViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoCompletoViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoCompletoViewModelApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    put:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestao
      summary: Atualiza circuito de gestão
      parameters:
        - name: guid
          in: path
          description: Guid do circuito de gestão
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCircuitoGestaoDTO'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCircuitoGestaoDTO'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCircuitoGestaoDTO'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_EditarCircuitoGestaoDTO'
      responses:
        '200':
          description: Circuito de gestão atualizado
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    delete:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestao
      summary: Deleta um circuito de gestão
      parameters:
        - name: guid
          in: path
          description: Guid do circuito de gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuito de gestão deletado
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoEtapaInternal/Existe/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoEtapaInternal
      summary: Verifica se o circuito gestão etapa existe
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão etapa
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoEtapaReuniaoInternal/Existe/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
      summary: Verifica se o circuito gestão etapa reunião existe
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão etapa reunião
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoEtapaReuniaoInternal/CircuitoGestao/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
      summary: Busca circuito gestão etapa reunião por circuito gestão
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Lista de guids de circuito gestão etapa reunião
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_GuidIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_GuidIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_GuidIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoEtapaReuniaoInternal:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
      summary: Busca dados da etapa da reuniao e etapa do circuito gestão
      parameters:
        - name: guids
          in: query
          description: Guids do circuito gestão etapa reunião
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Lista de guids de circuito gestão etapa reunião
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoPorGuidViewModelIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoPorGuidViewModelIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoPorGuidViewModelIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoEtapaReuniaoInternal/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoEtapaReuniaoInternal
      summary: >-
        Busca dados da etapa da reuniao e etapa do circuito gestão com publicos
        alvo
      parameters:
        - name: guid
          in: path
          description: Guids do circuito gestão etapa reunião
          required: true
          schema:
            type: string
            format: uuid
        - name: publicosAlvoGuids
          in: query
          description: Guids dos publicos alvo
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: Objeto com os dados da reuniao da etapa com publico alvo
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoInternalViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoInternalViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoEtapaReuniaoInternalViewModelApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicao:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
      summary: Filtar instituições em circuito gestão
      parameters:
        - name: CircuitoGestaoGuid
          in: query
          schema:
            type: string
            format: uuid
        - name: InstituicaoGuid
          in: query
          schema:
            type: string
            format: uuid
        - name: TipoInstituicao
          in: query
          schema:
            $ref: '#/components/schemas/CircuitoGestaoApi_Instituicoes'
        - name: ModuloGuid
          in: query
          schema:
            type: string
            format: uuid
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Lista paginada das instituições em circuito gestão
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    post:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
      summary: Vincula instituições ao circuito de gestão
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_VincularInstituicoesAoCircuitoGestaoDTO
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_VincularInstituicoesAoCircuitoGestaoDTO
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_VincularInstituicoesAoCircuitoGestaoDTO
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_VincularInstituicoesAoCircuitoGestaoDTO
      responses:
        '200':
          description: Total de instituições vinculadas ao circuito gestão
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicao/{guid}:
    delete:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
      summary: Remove uma institução de um circuito gestão
      parameters:
        - name: guid
          in: path
          description: Guid do circuitoGestãoInsitituição
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Guid da Instituição
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
      summary: Buscar instituição em um circuito gestão
      parameters:
        - name: guid
          in: path
          description: Guid do CircuitoGestaoInstituicao
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Objeto com dados de instituição em um circuito gestão
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicao/CopiarInstituicoes:
    put:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicao
      summary: Copia todas as instituições de um circuito gestão para outro
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_CopiarInstituicoesEntreCircuitosGestaoDTO
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_CopiarInstituicoesEntreCircuitosGestaoDTO
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_CopiarInstituicoesEntreCircuitosGestaoDTO
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_CopiarInstituicoesEntreCircuitosGestaoDTO
      responses:
        '200':
          description: Total de Instituições vinculadas
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_Int32ApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicaoInternal/{guid}/Existe:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
      summary: Verifica se o circuito gestão instituicao existe
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão instituicão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicaoInternal/CircuitoGestao/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
      summary: Lista circutos gestão instituicao por circuito gestao
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuitos gestao instituição
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicaoInternal/paginado:
    post:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
      summary: Filtra instituições paginadas por circuito de gestão
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_FiltrarCircuitoGestaoInstituicaoDTO
          application/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_FiltrarCircuitoGestaoInstituicaoDTO
          text/json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_FiltrarCircuitoGestaoInstituicaoDTO
          application/*+json:
            schema:
              $ref: >-
                #/components/schemas/CircuitoGestaoApi_FiltrarCircuitoGestaoInstituicaoDTO
      responses:
        '200':
          description: Lista paginada de instituições
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInstituicaoInternal/{circuitoGestaoGuid}/Instituicoes:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInstituicaoInternal
      summary: >-
        Lista instituições de um circuito de gestão, com opção de filtro por
        instituiçãoGuid e tipoInstituicao
      parameters:
        - name: circuitoGestaoGuid
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: guids
          in: query
          schema:
            type: array
            items:
              type: string
              format: uuid
        - name: tipoInstituicao
          in: query
          schema:
            $ref: '#/components/schemas/CircuitoGestaoApi_Instituicoes'
      responses:
        '200':
          description: Lista de instituições
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoInstituicaoInternalViewModelIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInternal/{guid}/Existe:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInternal
      summary: Verifica se o circuito gestão existe
      parameters:
        - name: guid
          in: path
          description: Guid do circuito gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInternal/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInternal
      summary: Busca um circuito de gestão
      parameters:
        - name: guid
          in: path
          description: Guid do circuito de gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuito de gestão
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoDeGestaoInternalViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoDeGestaoInternalViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoDeGestaoInternalViewModelApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoInternal/instituicao/{instituicaoGuid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoInternal
      summary: Busca um Circuito de Gestão Guid por Instituicao Guid
      parameters:
        - name: instituicaoGuid
          in: path
          description: Guid da Instituicao
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Circuito de gestão
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoObjetivoInternal/{guid}/Existe:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoObjetivoInternal
      summary: Verifica se o circuito gestão objetivo existe
      parameters:
        - name: guid
          in: path
          description: Guid do vinculo entre o objetivo e o circuito gestão
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoObjetivoInternal/Existem:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoObjetivoInternal
      summary: Verifica se o circuito gestão objetivos existem
      parameters:
        - name: guids
          in: query
          description: Guid do vinculo entre a objetivo e o circuito gestão
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: GetObjetivoDoCircuitoGestaoViewModel
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/CircuitoGestaoObjetivoInternal:
    get:
      tags:
        - openapi_CircuitosGestaoApi-CircuitoGestaoObjetivoInternal
      summary: Busca os objetivos do circuito gestão por guids
      parameters:
        - name: guids
          in: query
          description: Guid do vinculo entre a objetivo e o circuito gestão
          required: true
          schema:
            type: array
            items:
              type: string
              format: uuid
      responses:
        '200':
          description: GetObjetivoDoCircuitoGestaoViewModel
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoObjetivoInternalViewModelIEnumerableApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoObjetivoInternalViewModelIEnumerableApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_CircuitoGestaoObjetivoInternalViewModelIEnumerableApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaEnsino:
    post:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsino
      summary: Cria uma etapa
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaEnsinoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaEnsinoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaEnsinoDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaEnsinoDto'
      responses:
        '200':
          description: Etapa criada com sucesso
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsino
      summary: Buscar e filtrar todas as etapa
      parameters:
        - name: Descricao
          in: query
          schema:
            type: string
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Etapa
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaEnsino/{guid}:
    put:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsino
      summary: Atualiza a descrição da etapa
      parameters:
        - name: guid
          in: path
          description: Guid da etapa
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaEnsinoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaEnsinoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaEnsinoDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaEnsinoDto'
      responses:
        '200':
          description: Etapa atualizada
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    delete:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsino
      summary: Deletar uma etapa
      parameters:
        - name: guid
          in: path
          description: Guid da etapa
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Etapa deletada com sucesso
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsino
      summary: Buscar etapa por guid
      parameters:
        - name: guid
          in: path
          description: Guid da etapa
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Etapa
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
        '204':
          description: Etapa não encontrada
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaEnsinoInternal:
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsinoInternal
      summary: Buscar e filtrar todas as etapa
      parameters:
        - name: Descricao
          in: query
          schema:
            type: string
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Etapa
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaEnsinoInternal/{guid}:
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsinoInternal
      summary: Buscar etapa por guid
      parameters:
        - name: guid
          in: path
          description: Guid da etapa
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Etapa
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaEnsinoViewModelApiResponse
        '204':
          description: Etapa não encontrada
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaEnsinoInternal/{guid}/Existe:
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaEnsinoInternal
      summary: Verifica se uma etapa de ensino existe
      parameters:
        - name: guid
          in: path
          description: Guid da Etapa de Ensino
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: True se existe, False se não existe
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaReuniao:
    post:
      tags:
        - openapi_CircuitosGestaoApi-EtapaReuniao
      summary: Cria uma reunião da etapa
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaReuniaoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaReuniaoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaReuniaoDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_CriarEtapaReuniaoDto'
      responses:
        '200':
          description: Reunião da etapa criada com sucesso
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    get:
      tags:
        - openapi_CircuitosGestaoApi-EtapaReuniao
      summary: Buscar e filtrar todas as reuniões da etapa
      parameters:
        - name: Etapa
          in: query
          schema:
            $ref: '#/components/schemas/CircuitoGestaoApi_Etapas'
        - name: Reuniao
          in: query
          schema:
            type: string
        - name: TipoInstituicao
          in: query
          schema:
            $ref: '#/components/schemas/CircuitoGestaoApi_Instituicoes'
        - name: Page
          in: query
          schema:
            type: integer
            format: int32
        - name: PageSize
          in: query
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: Reunião de etapa
          content:
            text/plain:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaReuniaoViewModelPaginatedResultApiResponse
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaReuniaoViewModelPaginatedResultApiResponse
            text/json:
              schema:
                $ref: >-
                  #/components/schemas/CircuitoGestaoApi_EtapaReuniaoViewModelPaginatedResultApiResponse
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
  /CircuitosGestao/api/EtapaReuniao/{guid}:
    put:
      tags:
        - openapi_CircuitosGestaoApi-EtapaReuniao
      summary: Atualiza reunião da etapa
      parameters:
        - name: guid
          in: path
          description: Guid da reunião da etapa
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json-patch+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaReuniaoDto'
          application/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaReuniaoDto'
          text/json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaReuniaoDto'
          application/*+json:
            schema:
              $ref: '#/components/schemas/CircuitoGestaoApi_AtualizarEtapaReuniaoDto'
      responses:
        '200':
          description: Reunião da etapa atualizada
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_GuidApiResponse'
        '400':
          description: Erro de validação
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ObjectApiResponse'
        '500':
          description: Erro interno
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_ProblemDetails'
      security:
        - CircuitoGestaoApi_oauth2:
            - openid
    delete:
      tags:
        - openapi_CircuitosGestaoApi-EtapaReuniao
      summary: Deletar uma reunião da etapa
      parameters:
        - name: guid
          in: path
          description: Guid da reunião da etapa
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Reunião da etapa deletada com sucesso
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/CircuitoGestaoApi_BooleanApiResponse'
            text/json:
              schema:
[...]
